.chatWindow {
  background-color: #212121;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 18px;
  border-bottom: solid .25px rgba(225, 225, 225, 0.1);
}

#shade {
  color: rgba(225, 225, 225, 0.5);
  font-size: 20px;
}

#heading{
    font-size: 20px;
}

.userInput{
    display: flex;
    height: 60px;
    width: 60%;
    background-color:#303030;
    border-radius: 30px;
    align-items: center;
    padding: 16px;
    gap: 10px;
}

.userInput input{
    margin-left: 10px;
    border: 0px;
    height: 30px;
    background-color: transparent;
    width: 83%;
    font-size: 16px;
}

.chatInput{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInput input:focus {
  outline: none;
  box-shadow: none;
}

.info{
    font-size: 12px;
}


.dropDown{
  position: absolute;
  top: 4rem;
  right: 45px;
  width: 150px;

  background-color: #323232;
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  text-align: left;
  z-index: 1000;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.dropDownItems{
  font-size: 0.9rem;
  margin: 0.3rem 0rem;
  padding: 0.5rem 0.2rem;
  cursor: pointer;
}

.userIconDiv{
  margin-right: 20px;
}

.dropDownItems:hover{
  background-color: rgba(180, 180, 180, 0.1);
  border-radius: 6px;
}