* {
  box-sizing: border-box;
  color: #ececec;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.app {
  background-color: #212121;
  display: flex;
  width: 100vw;    /* ensure full width */
  height: 100vh;   /* ensure full height */
  overflow: hidden; /* avoid accidental scroll */
}
